
<div *ngIf="post" class="body-blur">

  <div class="row">
    <div class="columns small-12 medium-10">
      <a routerLink="/" id="back">Back</a>
      <h1>{{ post.beerTitle }}</h1>
    </div>
    <div class="columns small-12 medium-2">
      <img [src]="post.imageUrl" />

    </div>
  </div>

  <div class="row columns">
    <p class="post-p">Description</p>
    <p>{{ post.description }}</p>
    <p class="post-p">Tagline</p>
    <p>{{ post.tagline }}</p>
    <p class="post-p">First Brewed</p>
    <p>{{ post.firstBrewed }}</p>
    <p class="post-p">Abv</p>
    <p>{{ post.abv }}</p>
    <p class="post-p">Brewer Tips</p>
    <p>{{ post.brewersTips }}</p>

  </div>

</div>

